/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-redwine: #701423;
  --color-navy: #2c375e;
  --color-beige: #fdf1e7;
  --color-dark-grey: #4d4d4d;
  --color-grey: #92979b;
  --color-light-grey: #7c7979;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --wegiht-regular: 400;

  /* Size */
  --border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-beige);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-redwine);
  color: var(--color-beige);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-beige);
}

.navbar__menu__item:hover {
  background-color: var(--color-beige);
  color: var(--color-navy);
}

/* Home */
#home {
  background: url("imgs/backImgShadow.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  margin-top: 24px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 0% 70%;
  border-radius: 50%;
  border: 2px solie var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-beige);
  margin: 24px;
}

.home__contact {
  color: var(--color-beige);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-beige);
  border-radius: var(--border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/* About */
#about {
  background-color: var(--color-beige);
}
.about__majors {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
}

.major__icon {
  height: 170px;
  width: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px solid var(--color-dark-grey);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-dark-grey);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-redwine);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.school__description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-light-grey);
}

.school__name {
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}
